/* GetWeb.css */
.get-web-container {
    padding: 2rem;
    font-family: Arial, sans-serif;
    margin-top:10em;
    padding:10em;
    
  }
  .header-screen{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
  }

  
  .header-screen h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333333;
  }
  
  .get-web-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .get-web-form input,
  .get-web-form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .get-web-form input[type="date"] {
    padding-left: 1rem;
  }
  
  .two-left-input,
  .two-middle-input {
    display: flex;
    gap: 2rem;
  }
  
  .two-left-input input,
  .two-middle-input textarea {
    flex: 1;
  }
  
  .checkbox-group {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .checkbox-group label {
    margin: 0;
  }
  
  .date-input {
    margin-bottom: 1.5rem;
  }
  
  .policy-content {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .policy-content input {
    margin-right: 0.5rem;
  }
  
  .policy-content span {
    font-size: 0.9rem;
    color: #666666;
  }
  
  @media (max-width: 768px) {
    .get-web-form {
      padding: 1rem;
    }
  
    .two-left-input,
    .two-middle-input {
      flex-direction: column;
    }
  
    .two-left-input input,
    .two-middle-input textarea {
      margin-bottom: 1rem;
    }
  }
  

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    padding: 10px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
  }
  .success-message {
    background-color: #d4edda; 
    color: #155724; 
    padding: 10px 20px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;
    animation: fadeIn 0.5s ease-in-out;
    margin-bottom: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  