.error-message {
  color: #d9534f;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
  text-align: left;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  margin-top:10em;
  padding:5em;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  color: #777;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  border-color: #007bff;
}

.login-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:disabled {
  background-color: #a5c4e0;
  cursor: not-allowed;
}

.login-btn:hover:enabled {
  background-color: #0056b3;
}

.auth-link-container {
  margin-top: 15px;
  text-align: center;
}

.auth-link-text {
  font-size: 14px;
  color: #555;
}

.auth-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}

  @media (max-width: 768px) {
    .login-container {
      padding: 1.5rem;
    }
  
    .login-header h1 {
      font-size: 2rem;
    }
  
    .login-header p {
      font-size: 1rem;
    }
  
    .form-group input {
      font-size: 0.9rem;
      padding: 0.7rem;
    }
  
    .login-btn {
      font-size: 1rem;
      padding: 0.8rem;
    }
  }
  


  .auth-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .auth-link-text {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
  }
  
  .auth-link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .auth-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  .auth-link-container a {
    display: inline-block;
    padding: 5px 10px;
  }